# LLM SDKs
openai>=1.0.0
google-generativeai>=0.4.0
anthropic>=0.20.0
replicate>=0.20.0 # Check for latest version

# Environment variable management
python-dotenv>=1.0.0
pydantic>=2.0.0 # For Google structured output

# Parsing Libraries
pypdf>=4.0.0 # For PDF text extraction
python-docx>=1.1.0 # For DOCX text extraction
python-pptx>=0.6.23 # For PPTX text extraction
striprtf>=0.0.26 # For RTF text extraction
Pillow>=10.0.0
levenshtein>=0.20.0 # For Levenshtein distance calculation

# Wooclap Export
pandas>=2.0.0

# Exam Analysis & Utilities
matplotlib>=3.0.0
numpy>=1.20.0
unidecode>=1.0.0
pdf2image>=1.16.0 # For PDF to image conversion
opencv-python>=4.7.0 # For image processing (cv2)
tqdm>=4.62.0 # For progress bars
pexams>=0.10.0 # For exam generation and correction, and exporting to many formats

